option_settings:
  - option_name: BUNDLE_DISABLE_SHARED_GEMS
    value: "1"
  - option_name: BUNDLE_PATH
    value: "vendor/bundle"
packages:
  yum:
    git: []
# these commands run before the application and web server are
# set up and the application version file is extracted
commands:
  01_node_install:
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'yum install -y --enablerepo=epel nodejs'
  02_make_home_webapp:
    test: '[ ! -d /home/webapp ] && echo "/home/webapp is not directory"'
    command: 'mkdir /home/webapp && chown webapp:webapp /home/webapp'
  03_npm_install_bower:
    test: '[ ! -x /usr/bin/bower ] && echo "bower not installed"'
    command: 'npm install -g bower'
container_commands:
  01_bower_install:
    cwd: $ember_app
    test: '[ ! -d bower_components ] && echo "need run bower install"'
    command: 'bower install'
