- content_for(:page_specific_scripts) { javascript_include_tag 'metrics', 'data-turbolinks-track' => true }

h1 Metrics

== concept 'metric/cell', collection: @metrics, settings: Metric::Setting.get_by_session(session)
