- content_for(:page_specific_scripts) { javascript_include_tag 'metrics', 'data-turbolinks-track' => true }

h1.title Metrics

- @metrics.each do |metric|
  .well = link_to "#{metric.name.titleize}", view_metrics_path(name: metric.name, type: metric.type)
