---
http_interactions:
- request:
    method: post
    uri: https://android.googleapis.com/gcm/send
    body:
      encoding: UTF-8
      string: '{"registration_ids":["9n8e5seich18yjrwfse0"],"data":{"type":"video_status_update","to_mkey":"J7bHM29bRQsAOeYuDuIB","status":"viewed","video_id":"1434363609246","host":"test.host"}}'
    headers:
      Authorization:
      - key=
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        <HTML>
        <HEAD>
        <TITLE>Unauthorized</TITLE>
        </HEAD>
        <BODY BGCOLOR="#FFFFFF" TEXT="#000000">
        <H1>Unauthorized</H1>
        <H2>Error 401</H2>
        </BODY>
        </HTML>
  recorded_at: Mon, 15 Jun 2015 10:20:09 GMT
recorded_with: VCR 2.9.3
