li = link_to 'Dashboard', dashboard_path
li = link_to 'Metrics', metrics_path
li = link_to 'Users', users_path
li = link_to 'Connections', connections_path
li = link_to 'KV store admin', kvstore_admin_path
